<%= simple_form_for @kitten do |f| %>
    <% if @kitten.errors.any? %>
        <ol>
            <% @kitten.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ol>
    <% end %>

    <%= f.input :name %>
    <%= f.input :age, collection: (1..20) %>

    <%= f.input :cuteness, collection: (1..10) %>

    <%= f.input :softness, collection:  (1..10) %>

    <%= f.submit "Submit" %>
<% end %>
